/* Sticky header*/
header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 1em;
}

nav li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav li a:hover {
  color: #0077cc;
}

section {
  margin-left: 5rem;
}

.kysymykset {
  margin: 1rem;
}

/*Fonttikoot*/
h1 {
  margin: 2rem 5rem;
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

input {
  font-size: 1.4rem;
}

button {
  font-size: 1.2rem;
}

footer {
  margin-top: 8rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: #0077cc;
}

/* Kaikki palautelistojen tekstit ja yhteispisteet */
.kysymys ul li,
.loppupisteet p {
  font-size: 1.5rem;
}

/* Wrapperi. Kysymykset vasemmalla ja pistetaulukko oikealla */
.content-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 0 5rem;
}

/* Vasemman puolen sisältö */
.kysymykset {
  flex: 1; /* vie jäljelle jäävän tilan */
}

/* Oikea pistetaulukko */
#pistetaulukko {
  position: sticky;
  top: 100px; /* etäisyys headerista */
  width: 220px;
  margin-right: 5rem;
  padding: 1rem;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left;
  height: fit-content;
  z-index: 100;
}

#pistetaulukko h2 {
  margin-top: 0;
  font-size: 1.7rem;
  text-align: center;
}

#pistetaulukko ul {
  list-style: none;
  padding-left: 0;
}

#pistetaulukko li {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.25rem;       /* Tilaa viivalle */
  border-bottom: 1px solid #ccc; /* Viiva alle */
}

#pistetaulukko li:last-child {
  border-bottom: none;
}






